@{
    ViewBag.Title = "Sobre";
}
<div class="container">
    <h2>@ViewBag.Title.</h2>

    <p>
        O comércio eletrônico Tani's Store, é uma empresa com sede na cidade de Suzano. Onde faz parte do conglomerado da holding Tani's Industries até o momento.
        Foi fundada em 2019 pelo Fundador Rodrigo Tani, em um projeto de faculdade, que tinha como objetivo o desenvolvimento de um Loja de vendas Online. Ele acabou
        utilizando sua loja como forma de tirar um trocado, mas se surpreendou pelo grande sucesso de seu site com os clientes. Hoje o foco é venda online, mas temos
        2 lojas físicas até o momento, no Shopping de Suzano e no Mogi Shopping.
    </p>

    <h3>Missão</h3>
    <p>Ser uma empresa competitiva, inovadora e ousada que visa sempre o bem-estar comum.</p>
</div>