@{
    ViewBag.Title = "Troca e Devolução";
}
<h2>@ViewBag.Title.</h2>

<h1>POLÍTICA DE TROCA E DEVOLUÇÃO</h1>

<p>Você poderá realizar a troca de sua compra Tani's Store em até 7 dias corridos após o recebimento da compra, sem qualquer custo adicional. 
    Para tal, você deverá entrar em contato com nosso Serviço de Atendimento ao Cliente e solicitar o procedimento de troca. 
    Se a troca for realizada fora deste período ou o produto tiver sido utilizado, danificado ou não estiver na embalagem original, a Tani's Store não poderá aceitar a troca a sua compra será retornada para você.
    A troca de jogos só será aceita se o produto estiver lacrado.
    A primeira troca é gratuita!

    Caso decida realizar a devolução do pedido total, será realizado o reembolso do valor pago. 
    Só será possível receber o reembolso de uma devolução se esta for realizada de acordo com nossa Política de Devolução.</p>

<h3>IMPORTANTE:</h3>
<p> Para realização de troca ou devolução é obrigatório a entrega da nota fiscal do produto adquirido em território nacional. </p> 

<h3>Restituição de valores</h3>
<p>A restituição dos valores pagos pelo cliente Tani's Store será da mesma maneira escolhida no processo de pagamento da compra inicial descontado o valor do frete.</p>

<h3>Cartão de crédito:</h3>
<p>No caso da compra efetuada com cartão de crédito, a devolução do valor total ou parcial ocorre através de estorno no cartão de crédito em até 2 faturas após a solicitação de devolução.</p>

<h3>Boleto Bancário:</h3>
<p>A devolução de valores para compras realizadas através de boleto bancário ocorre através de reembolso na conta corrente do titular da compra em até 12 dias úteis após o cancelamento. Não serão aceitas contas de terceiros.</p>

<h3>Cupom de Troca</h3>
<p>Um cupom de troca deve vai ser gerado quando uma compra for paga com outros cupons em que o valor supere o valor da compra. 
   Obs: O sistema não deve possibilitar o uso de cupons que supere a compra desnecessariamente, 
   ex: a venda tem valor total de R$ 50,00 e o cliente possui três cupons, um com valor de R$ 20,00, outro com valor de R$ 40,00 e um terceiro com valor de R$ 35,00 
   o sistema restringe o uso dos três cupons nesta compra, deve ser aceito apenas dois cupons e consequentemente gerar um cupom com a diferença de R$ 5,00, ou R$ 10,00 ou R$ 25,00.</p>
<h3>Importante:</h3> 
<p>
    A restituição dos valores será processada somente após o recebimento e análise das condições do(s) produto(s) em nosso Centro de Distribuição e de acordo com as condições de troca ou devolução.
    O produto não poderá trazer qualquer indício de uso.
</p>
<h3>Conheça o Código de Defesa do Consumidor</h3>
<a href="http://www.planalto.gov.br/ccivil_03/Leis/L8078compilado.htm" target="_blank">http://www.planalto.gov.br/ccivil_03/Leis/L8078compilado.htm</a>

