@{
    ViewData["Title"] = "Análise";
}
<center>
    <h2>Análise</h2>
    <script type="text/javascript" src="~/Scripts/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Scripts/datatables.min.css">
    <script type="text/javascript" src="~/Scripts/datatables.min.js"></script><!---->
    <script src="~/js/jquery.mask.min.js"></script>
    <script type="text/javascript" src="~/Scripts/chart/Chart.bundle.min.js" 1></script>
    <script type="text/javascript" src="~/Scripts/chart/Chart.min.js"></script>
    <div class="container">
        Gráfico: <select id="queen" onchange="maggots();">
            <option selected="selected" value="0">Vendas</option>
        </select>
        Tipo: <select id="tipo" onchange="maggots();">
            <option selected="selected" value="0">Linha</option>
             <option  value="1">Barras</option>
        </select>
       
    Jogo: <select id="plataforma" onchange="maggots();">
              <option selected="selected" value="0">Todos</option>
              @*<option value="1">dev</option>
              <option value="2">gta5</option>
              <option value="3">Cod Bo4 Xbox</option>
              <option value="4">SuperMario Odissey</option>
              <option value="5">God of War</option>
              <option value="6">Cod Bo4 Ps4</option>*@
    </select>
    Mês Inicial:
    <select id="mesI" onchange="maggots();">
        <option selected="selected">1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
    </select> Ano Inicial:
    <select id="anoI" onchange="maggots();">
        <option selected="selected">2019</option>
        <option>2018</option>
    </select> Mês Final:
    <select id="mesF" onchange="maggots();">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option selected="selected">6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
    </select>

        Ano Final:
        <select id="anoF" onchange="maggots();">
            <option>2018</option>
            <option selected="selected">2019</option>
        </select>
       
        <br />
        <div class="chart-container" style="position: relative; height:400px; width:800px">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</center>
<script>
    var asdf;

    function maggots() {
        asdf.destroy();
        var ctx = document.getElementById('myChart').getContext('2d');
        var e = document.getElementById("mesF");
        var strUser = e.options[e.selectedIndex].value;
        var ee = document.getElementById("mesI");
        var strUserr = ee.options[ee.selectedIndex].value;
        var eer = document.getElementById("anoI");
        var strUserre = eer.options[eer.selectedIndex].value;
        var eerr = document.getElementById("anoF");
        var strUserree = eerr.options[eerr.selectedIndex].value;
        var eee = document.getElementById("plataforma");
        var strUserrr = eee.options[eee.selectedIndex].value;
        var eeee = document.getElementById("tipo");
        var sstrUserrr = eeee.options[eeee.selectedIndex].value;
        var eeeeu = document.getElementById("queen");
        var loml = eeeeu.options[eeeeu.selectedIndex].value;
        asdf = new Chart(ctx, JSON.parse(httpGet('/api/devil/analise/' + sstrUserrr + '/' + strUserree + '/' + strUser + '/' + strUserre + '/' + strUserr + '/' + strUserrr + '/' + loml )));
    }
    function httpGet(theUrl) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", theUrl, false); // false for synchronous request
        xmlHttp.send(null);
        return xmlHttp.responseText;
    }

    window.onload = function () {
        var ctx = document.getElementById('myChart').getContext('2d');
        asdf = new Chart(ctx, JSON.parse(httpGet('/api/devil/analise/0/2019/05/2019/1/0/0')));
    };
</script>
