@{
    ViewBag.Title = "Checkout Complete";
}
<div class="create">
    <br />
    <h2>Pedido Completo</h2>
    <p>O pedido de codigo @Model foi adicionado</p>
    <p>
        @Html.ActionLink("inicio", "Index", "Home")
    </p>
</div>
